* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
}

.header {
    color: white;
    text-align: center;
    background-color: darkslategray;
    padding: 10px;
    grid-column: 1 / -1;
}

.list-content {
    background-color: lightgray;
    padding: 10px;
}

.add-list-content {
    margin-bottom: 10px;
    display: grid;
    place-items: center;
}

.add-list-button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #16a34a;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.add-list-modal,
.edit-list-item-modal {
    border: none;
    border-radius: 5px;
    margin: auto;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5)
    }
}

.add-list-form,
.edit-list-item-form {
    text-align: center;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;

    & h1 {
        font-size: 2rem;
        color: darkslategrey;
    }
}

.add-list-input,
.edit-list-item-input {
    font-size: 1.2rem;
    padding: 5px 10px;
    border-radius: 5px;
}

.add-list-submit-button,
.add-list-cancel-button,
.edit-list-item-submit-button,
.edit-list-item-cancel-button {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}

.add-list-submit-button,
.edit-list-item-submit-button  {
    background-color: #3b82f6;
}

.add-list-cancel-button,
.edit-list-item-cancel-button {
    background-color: #ef4444;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item-container {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    
    & .list-item {
        width: 100%;
    }

    & .delete-list-item-button,
    & .edit-list-item-button {
        width: 1.2rem;
        height: 1.2rem;
        border: none;
    }

    & .delete-list-item-button {
        background: url("./resources/delete-icon.svg") no-repeat;
    }

    & .edit-list-item-button {
        background: url("./resources/edit-icon.svg") no-repeat;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.task-content {
    padding: 10px;
}